div.navbar.navbar-inverse.navbar-default.navbar-fixed-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Tax Party Online

    p.navbar-text.navbar-right
      a.navbar-link(href='#')
        i.fa.fa-user
        |  Sign In

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}
