ul.nav.nav-sidebar(ng-controller='NavbarCtrl')
  li(ng-repeat='question in questions', ng-class='{active: isActive("/questions/{{question.id}}")}')
    a(ng-href='/questions/{{question.id}}') {{question.subject}}
