.chat-room(ng-controller='ChatCtrl')
  .question
    .media
      .media-left
        img.avatar(ng-src='{{question.user.avatarUrl}}')
      .media-body
        p
          span.label.label-warning Question
          |  asked:
          strong  {{question.user.displayName}}
          small.text-muted  {{question.createdAt | amDateFormat:'ddd, hh:mma'}}
        h1 {{question.subject}}
        p {{question.details}}

  .chat-messages(scroll-glue-bottom='glued')
    .message.media(ng-repeat='message in messages')
      .media-left
        img.avatar(ng-src='{{message.user.avatarUrl}}')
      .media-body(ng-class='{answer: message.type == "answer"}' )
        span.label.label-success.answer-label Answer
        p.chat-meta
          strong {{message.user.displayName}}
          small.text-muted  {{message.createdAt | amDateFormat:'ddd, hh:mma'}}
        p {{message.body}}

  .chat-box
    //- .btn-group
    //-   label.btn.btn-default.active
    //-     input(type='radio', ng-model='newMessage.type', btn-radio='comment', checked)
    //-     | Comment
    //-   label.btn.btn-default
    //-     input(type='radio', ng-model='newMessage.type', btn-radio='answer')
    //-     | Answer
    textarea.form-control(rows=1, ng-model='newMessage.body', ng-keyup="$event.keyCode == 13 && !$event.shiftKey && sendMessage(newMessage)")
